[submodule "simple-init"]
	path = simple-init
	url = https://github.com/BigfootACA/simple-init.git
	branch = master
[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
	branch = edk2-stable202302
