[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
[submodule "edk2-non-osi"]
	path = edk2-non-osi
	url = https://github.com/tianocore/edk2-non-osi.git
[submodule "misc/rkbin"]
	path = misc/rkbin
	url = https://github.com/rockchip-linux/rkbin.git
[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://github.com/worproject/arm-trusted-firmware
	branch = rk3588
[submodule "devicetree/mainline/upstream"]
	path = devicetree/mainline/upstream
	url = https://kernel.googlesource.com/pub/scm/linux/kernel/git/devicetree/devicetree-rebasing.git
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/tianocore/edk2-platforms.git
